body {
  font-family: 'Poppins', sans-serif;
}

/* nav */

.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: lightgrey;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  list-style: none;
}
/* .nav-list li:hover {
  background-color: lightslategrey;
} */

h1 {
  margin-bottom: 10px;
  font-size: 50px;
  text-align: center;
}
h2 {
  padding-bottom: 10px;
}
h3 {
  padding-top: 15px;
  margin-left: 10px;
  font-size: x-large;
}
h4 {
  padding: 0 20px 0 20px;
  font-size: 20px;
  color: black;
}
a {
  color: black;
  font-size: 18px;
}
a:visited {
  color: rgb(237, 237, 124);
}
.red-divider {
  background: red;
  width: 200px;
  height: 3px;
  margin: 0 auto;
}

#flag {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 5px;
}

/* header */
#welcome-section {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

/* Portfolio body */

.project-tile {
  background-color: slategrey;
  width: auto;
  column-count: 2;
}
.project-tile .thumbnail img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  -webkit-filter-: grayscale(100%);
}
.project-tile .thumbnail img:hover {
  filter: none;
}

.thumbnail {
  margin: 5px;
  float: right;
}
#contact {
  text-align: center;
  padding: 20px 0 20px 0;
}
.icon {
  padding: 0 20px 0 20px;
}
footer {
  text-align: center;
  margin-top: 20px;
}

/* Media queries */
@media (max-width: 400px) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }

  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
  }

  .nav-list a:hover {
    background: var(--main-blue);
  }

  .project-tile .thumbnail img {
    filter: none;
  }
}
